version: "3.8"
services:
  selenium-hub:
    image: selenium/hub:4.18.1
    container_name: selenium-hub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    environment:
      - SE_NODE_MAX_SESSIONS=10
      - SE_SESSION_REQUEST_TIMEOUT=300
    restart: unless-stopped
