version: "3.8"
services:
  chrome-node:
    image: selenium/node-chrome:4.18.1
    shm_size: 2gb
    environment:
      - SE_EVENT_BUS_HOST={{ hostvars[groups['selenium_hub'][0]]['ansible_host'] }}
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=3
    restart: unless-stopped

  firefox-node:
    image: selenium/node-firefox:4.18.1
    shm_size: 2gb
    environment:
      - SE_EVENT_BUS_HOST={{ hostvars[groups['selenium_hub'][0]]['ansible_host'] }}
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=3
    restart: unless-stopped
